.screen {
  background-color: #F8F5FA;
  min-height: 100vh;
}

.container {
  width: calc(100% - 2rem); 
  max-width: 710px; 
  min-width: 300px; 
  margin: auto;
  padding: 6rem 1rem; 
}

.textTitle {
  color: #000;
  font-size: calc(1.875em + 1vw); 
  margin-top: 1.75rem;
  text-align: left;
  font-weight: normal;
}

.textBody {
  color: #000;
  font-size: calc(0.75em + 0.5vw); 
  margin-top: 1.25rem;
  text-align: left;
  line-height: 1.6;
}

.textLink {
  color: #000;
  font-size: 1rem; 
  display: flex;
  gap: 0.675rem;
  justify-content: left;
  align-items: left;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.container.light {
  background-color: #fff;
  color: #000;
}

.container.dark {
  background-color: #333;
  color: #fff;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #333;
  text-decoration-thickness: 2px; 
  transition: color 0.7s ease;
}

.underline:hover {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 3px; 
}

.link {
  color: inherit;
  transition: color 0.3s ease;
}

.link:hover {
  color: #888;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    padding: 5% 0;
  }

  .textTitle {
    font-size: calc(2.5em + 1vw);
  }

  .textBody {
    font-size: calc(1em + 1vw);
  }

  .textLink {
    gap: 0.5rem; 
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5% 5%; 
  }

  .textTitle {
    font-size: calc(2.5em + 1vw);
  }

  .textBody {
    font-size: calc(1em + 0.45vw);
  }

  .textLink {
    flex-direction: row; 
    align-items: flex-start;
  }
}

/* Dark mode styles */
.textTitleDark {
  color: #E5E7EB;
}

.textBodyDark {
  color: #E5E7EB;
}

.underlineDark {
  text-decoration-color: #D1D5DB;
}

